// styling the posts
.posts {
  .homeTitle {
    text-align: center;
  }
  // styling the post container
  .postContainer {
    max-width: 900px;
    background: #f1eded;
    border: 1px solid #f1eded;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
}
