// styling the posts
.posts {
	.homeTitle {
		text-align: center;
	}
	// styling the post container
	.postContainer {
		max-width: 900px;
		display: block;
		margin: 0 auto;
		border-radius: 5px;
	}
}
