.post {
	background: #fff;
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 12%);
	position: relative;
	align-items: center;

	a {
		flex: 1 1;
		text-decoration: none;
	}

	.postInfo {
		padding: 20px;

		.title {
			font-size: 18px;
			margin-bottom: 10px;
			color: rgb(13, 110, 253);
		}

		.author {
			font-size: 14px;
			color: #333;
		}
	}

	.favoriteBtn {
		position: absolute;
		right: 22px;

		button {
			height: 50px;
			width: 50px;
		}
	}
}
