.author {
	color: #212529;
	margin-bottom: 20px;
	font-size: 16px;
	display: flex;
	column-gap: 15px;
	align-items: center;

	.authorTitle {
		color: #656565;
	}
}

.textBody {
	color: #656565;
	font-size: 14px;
}

.commentTitle {
	color: #212529;
	margin-bottom: 20px;
	font-size: 16px;
	padding-top: 27px;
	border-top: 1px solid #d1cfcf;
	margin-top: 28px;

	span {
		text-decoration: underline;
	}
}

.noPost {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.commentsContainer {
	margin-bottom: 28px;
	min-height: 150px;
	max-height: 285px;
	overflow: auto;
	border-radius: 4px;
	padding: 10px 8px;
	background-color: #fff;
	box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 5%);
	position: relative;

	.noComments {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		width: 100%;
		font-size: 14px;
	}

	.comment {
		margin-bottom: 0px;
		border-bottom: 1px dashed #ddd;
		padding-bottom: 10px;
		border-left: 2px solid transparent;
		padding-left: 8px;
		transition: all 0.3s ease-in-out;
		padding-top: 8px;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: #fff;
			border-left-color: #333;
		}

		.commentAuthor {
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 4px;
		}

		.commentText {
			font-size: 14px;
			color: #555;
		}
	}
}
